$color_blue: #08A6E4;
$color_red: #FB3B64;
$color_green: #55DFB4;
$color_darkblue: #13253B;
$color_gray:#A5A5A5;
$color-primary: #08A6E4;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-redish: #FB3B64;
$color-green: #55DFB4;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #A5A5A5;
$color-light-grey: #F7F7F7;